.no-support-message { 
	display:none; 
}

.impress-not-supported .no-support-message { 
	display:block; 
}

/* additional styles just to make things look a bit nicer */
body { 
	background: #FAFEFF; 
  font-family: 'Questrial', sans-serif;	
  color: #170C00; 
  font-size: 50px;
  padding: 50px;
}

.step { 
  position: relative;
  width: 900px;
  margin: 20px auto;
}

.no-support-message {
	display: none;
}


