
	<body>
		<div id="impress">
			<div class="no-support-message">
				Your browser doesn't support impress.js.  Try Chrome or Safari.
			</div>

			<div class="step" data-x="0" data-y="0">
				Canvas.is
			</div>

			<div class="step" data-x="500" data-y="0">
				Thanks for interviewing me!
			</div>

			<div class="step" data-x="0" data-y="400">
				I hope to...
			</div>

			<div class="step" data-x="-500" data-y="0" data-rotate="45" >
				become a member of your team...
			</div>

			<div class="step" data-x="550" data-y="200" data-rotate-z="45">
				...and help build awesome stuff.
			</div>

			<div class="step" data-x="-750" data-y="-750">
				Thanks! Eric Iacutone.
			</div>

			<%= javascript_include_tag "application" %>
		</div>
