<div id="impress">
	<div class="no-support-message">
		Your browser doesn't support impress.js.  Try Chrome or Safari.
	</div>

	<div id='canvas' class="step slide" data-x="-1200" data-y="-400" data-scale='2'>
		Canvas.is<p>-push spacebar!</p>
	</div>

	<div id='thankyou' class="step slide" data-x="-50" data-y="-125">
		Thanks for interviewing me!
	</div>

	<div id='hope' class="step slide" data-x="-710" data-y="50">
		I hope to...
	</div>

	<div id='team' class="step slide" data-x="-200" data-y="250" data-rotate="-15">
		become a member of your team...
	</div>

	<div id='goodbye' class="step slide" data-x="50" data-y="-1000" data-rotate="-15" data-scale='2'>
		...and help design awesome web apps!<br />
		Eric Iacutone | eric.iacutone@gmail.com | <a href='https://github.com/iacutone/'>GitHub</a>
	</div><br /><br /><br /><br /><br /><br /><br />
	


</div>
