
		<div id="impress">
			<div class="no-support-message">
				Your browser doesn't support impress.js.  Try Chrome or Safari.
			</div>

			<div class="step" data-x="-225" data-y="0">
				Canvas.is
			</div>

			<div class="step" data-x="175" data-y="-85">
				Thanks for interviewing me!
				<br/><br/><br/><br/><br/><br/><br/><br/>
			</div>

			<div class="step" data-x="-100" data-y="205">
				I hope to...
			</div>

			<div class="step" data-x="-450" data-y="-50" data-rotate="10" >
				become a member of your team...
				<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
			</div>

			<div class="step" data-x="90" data-y="60" data-rotate="2" >
				<br/><br/><br/><br/><br/><br/><br/><br/><br/>...and help design awesome web apps!<br />
				Eric Iacutone | eric.iacutone@gmail.com | <a href='https://github.com/iacutone/'>GitHub</a>
			</div>


			
		</div>
